// .footer {
//   background-color: var(--greyColor);
//   font-size: 14px;
//   line-height: 1.7;
//   letter-spacing: 0.03em;
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

.container__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  background-color: var(--greyColor);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .container__footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .container__footer {
    flex-wrap: nowrap;
    align-items: baseline;
  }
}
