// .list__advantages {
//   display: flex;
//   flex-direction: row;
// }

// .list__advantages-li {
//   width: 270px;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .list__advantages-li__name {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.1;
//   letter-spacing: 0.03em;
//   margin-bottom: 10px;
// }
// .list__advantages-li__desc {
//   color: var(--smallTextColor);
//   font-size: 14px;
//   line-height: 1.7;
// }

// .list__advantages-icons {
//   display: flex;
//   flex-direction: row;
//   column-gap: 30px;
//   margin-bottom: 30px;
// }

.list__advantages-li {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.advantages-icon {
  width: 70px;
  height: 70px;
}
.list__advantages__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--lightGreyBackground);
  margin-bottom: 30px;
}
.list__advantages-li__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.list__advantages-li__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--smallTextColor);
}
@media screen and (min-width: 768px) {
  .list__advantages {
    display: flex;
    flex-wrap: wrap;
  }
  .list__advantages-li {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
  .list__advantages-li__name {
    text-align: left;
  }
  .list__advantages-li:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .list__advantages-li:not(:nth-child(n + 3)) {
    margin-bottom: 30px;
  }

  .list__advantages__icon-link {
    width: 354px;
  }
  .list__advantages-li__desc {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .list__advantages {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
  }

  .list__advantages-li:not(:nth-child(2n)) {
    margin-right: 0;
  }
  .list__advantages-li:not(:nth-last-child(-n)) {
    margin-bottom: 0;
  }
  .list__advantages__icon-link {
    width: 270px;
  }
  .list__advantages-li__desc {
    width: 270px;
  }
}
