.list__header__contact-info {
  display: none;
}
@media screen and (min-width: 768px) {
  .list__header__contact-info {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .contact-info__mail-li {
    margin-bottom: 10px;
  }
  //   .list__contact-info:not(:last-child) {
  //     margin-right: 30px;
  //   }
  .list__contact-info__link {
    display: flex;
    align-items: center;
    color: var(--smallTextColor);
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
      color: var(--blueColor);
    }
  }
  .header__contact-info__mail-icon {
    width: 14px;
    height: 12px;
  }
  .header__contact-info__phone-icon {
    width: 10px;
    height: 14px;
  }
  .list__contact-info__link__icon {
    margin-right: 8px;
    fill: var(--smallTextColor);
    transition: fill var(--transition-dur-and-func);

    .list__contact-info__link:hover &,
    .list__contact-info__link:focus & {
      fill: var(--blueColor);
    }
  }
}
@media screen and (min-width: 1200px) {
  .list__header__contact-info {
    flex-direction: row;
    font-size: 14px;
    margin-left: auto;
  }

  .list__contact-info__link__icon {
    margin-right: 10px;
  }
  .list__contact-info:not(:last-child) {
    margin-right: 30px;
  }
  .header__contact-info__mail-icon {
    width: 16px;
  }
  .header__contact-info__phone-icon {
    width: 10px;
    height: 16px;
  }

  .contact-info__mail-li {
    margin-bottom: 0;
  }
}
