// .list__our-clients {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   margin-top: 50px;
//   align-items: center;
// }
.list__clients-li {
  &:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  &:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

// .list__clients-li__link {
//   display: flex;
//   border: 1px solid #afb1b8;
//   border-radius: 4px;
//   width: 170px;
//   height: 92px;
//   justify-content: center;
//   align-items: center;
//   transition: border var(--transition-dur-and-func);
//   &:hover,
//   &:focus {
//     border: 1px solid var(--blueColor);
//   }
// }
.clients-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.list__clients-li__link__icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
  .list__clients-li__link:hover &,
  .list__clients-li__link:focus & {
    fill: var(--blueColor);
  }
}
.list__our-clients {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}
.list__clients-li__link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  justify-content: center;
  align-items: center;
  transition: border var(--transition-dur-and-func);
  &:hover,
  &:focus {
    border: 1px solid var(--blueColor);
  }
}
@media screen and (min-width: 768px) {
  .list__clients-li {
    &:not(:nth-child(2n)) {
      margin-right: 0px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 0px;
    }
    &:not(:nth-child(3n + 3)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
  .list__clients-li__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-container {
    padding: 0;
  }
  .list__our-clients {
    flex-wrap: nowrap;
    gap: 30px;
  }
  .list__clients-li {
    &:not(:nth-child(3n + 3)) {
      margin-right: 0px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 0px;
    }
  }
  .list__our-clients {
    margin-top: 50px;
  }
  .list__clients-li__link {
    width: 170px;
  }
}
