// .list__team {
//   display: flex;
//   flex-direction: row;
//   padding-top: 50px;
//   justify-content: center;
// }

// .list__team-card {
//   background-color: white;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
//   text-align: center;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .list__team-card__name {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.1;
//   letter-spacing: 0.03em;
//   margin-bottom: 10px;
// }
// .list__team-card__wrapper {
//   padding-top: 30px;
//   padding-bottom: 30px;
// }
// .list__team-card__occupation {
//   line-height: 1.2;
//   color: var(--smallTextColor);
//   margin-bottom: 16px;
// }
// .list__team-social {
//   display: flex;
//   justify-content: center;
//   column-gap: 10px;
// }

// .list__team-social-link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   transition: background-color var(--transition-dur-and-func);

//   &:hover,
//   &:focus {
//     background-color: var(--blueColor);
//   }
// }

// .list__team-social-link__icon {
//   fill: #afb1b8;
//   transition: fill var(--transition-dur-and-func);
//   .list__team-social-link:hover &,
//   .list__team-social-link:focus & {
//     fill: #ffffff;
//   }
// }
.section__team {
  background-color: var(--lightGreyBackground);
  padding-top: 60px;
}
.list__team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 60px;
}
.list__team-card {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.list__team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.list__team-card__wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
}
.list__team-card__occupation {
  line-height: 1.2;
  color: var(--smallTextColor);
  margin-bottom: 16px;
}
.list__team-social {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.list__team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--blueColor);
  }
}
.list__team-social-link__icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
  .list__team-social-link:hover &,
  .list__team-social-link:focus & {
    fill: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .list__team {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .list__team-card:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .list__team-card:not(:nth-last-child(-n)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .list__team-card:not(:nth-child(2n)) {
    margin-right: 0px;
  }
  .list__team-card:not(:nth-last-child(-n)) {
    margin-bottom: 0px;
  }
  .list__team {
    margin-top: 50px;
    gap: 30px;
  }
}
